# Dependencies
node_modules
frontend/node_modules

# Environment
.env
.env.local

# Build outputs
dist
build

# Logs
logs
*.log

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Misc
*.tgz
.cache
